/* The Modal (background) */
#lightbox_gallery {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	overflow: auto;
	background-color: white;
}




/* Modal Content */
#lightbox_gallery .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	max-width: 80%;
}

#lightbox_gallery .modal-content .mySlides {
	display: none;
	width: 100%;
	height: 900px;
}

/* Medias counter (1/? etc) */
#lightbox_gallery .modal-content .mySlides .numbertext {
	color: #f2f2f2;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

#lightbox_gallery .modal-content .mySlides img {
	max-width: 100%;
	height: 90%;
	margin-bottom: -4px;
	object-fit: contain;
}

#lightbox_gallery .modal-content .mySlides video{
	width: 100%;
	height: 90%;
	margin-bottom: -4px;
	object-fit: contain;
}



/* Next & previous buttons */
#lightbox_gallery .modal-content .prev,
#lightbox_gallery .modal-content .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	margin-left: -4rem;
	color: #901C1C;
	font-weight: lighter;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
#lightbox_gallery .modal-content .next {
	right: -4.5rem;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
#lightbox_gallery .modal-content .prev:hover,
#lightbox_gallery .modal-content .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}



/* The Close Button */
#lightbox_gallery .modal-content .close {
	color: #901C1C;
	position: absolute;
	top: 1.4rem;
	right: -4rem;
	width: 42px;
	height: 42px;
	font-size: 65px;
	font-weight: 100;
}
#lightbox_gallery .modal-content .close:hover,
#lightbox_gallery .modal-content .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

#lightbox_gallery .cursor {
	cursor: pointer;
}



#lightbox_gallery .modal-content .caption-container {
	text-align: left;
	background-color: white;
	padding: 2px 16px;
	color: #901C1C;
	font-family: DM Sans;
	font-weight: 400;
	font-size: 24px;
	line-height: 31.2px;
}

#lightbox_gallery .modal-content .caption-container p {
	margin: 0;
	margin-top: -4rem;
	font-size: 20px;
}
