/* Header */
.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 30px;
}

.photograph-header :nth-child(1) {
    order: 2;
}
.photograph-header :nth-child(1) {
    order: 1;
}
.photograph-header :nth-child(3) {
    order: 3;
}



.photograph-header .photographer_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 60%;
}
.photograph-header .photographer_info>* {
    margin: 0;
}
.photograph-header .photographer_info :nth-child(1) {
    order: 1;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C
}
.photograph-header .photographer_info :nth-child(2) {
    order: 2;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}
.photograph-header .photographer_info :nth-child(3) {
    order: 3;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}


.photograph-header .contact_button, #contact_modal .modal form .contact_button, #main #gallery .sort_bar nav button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}


/* Gallery */
#main #gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 100px;
}

#main #gallery .sort_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    margin: 1rem 0;
}

#main #gallery .sort_bar p {
    width: 74px;
    height: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

/* Dropdown Order Gallery */

#main #gallery .sort_bar label {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

#main #gallery .sort_bar label select {
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-align: center;
}

#main #gallery .sort_bar label select option {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    color: white;
    margin: 23px 20px;
}


/* Medias Gallery */
#main #gallery .medias_gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    gap: 2.46rem;
}

#main #gallery .medias_gallery .card video .fa-circle-play {
    position: relative;
}
#main #gallery .medias_gallery .card video .fa-circle-play::after {
    content: "";
    position: absolute;
    top: -8rem;
    left: 11rem;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: white;
}


#main #gallery .medias_gallery .card img, #main #gallery .medias_gallery .card video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

#main #gallery .medias_gallery .card video {
    filter: contrast(0.5);
}

#main #gallery .medias_gallery .card .card_info {
    display: flex;
    align-items: baseline;
    max-width: 350px;
    justify-content: space-between;
    color: #901C1C;
}

#main #gallery .medias_gallery .card .card_info h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

#main #gallery .medias_gallery .card .card_info span {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

#main #gallery .medias_gallery .card .card_info span p {
    margin: 0;
}

#main #gallery .medias_gallery .card .card_info span .fa_custom {
    animation: heart2 0.35s ease-in;
    cursor: pointer;
    margin-left: 10px;
    width: 21px;
    height: 24px;
    line-height: 29px;
}

#main #gallery .medias_gallery .card .card_info span .fa_full.fa_full_animation {
    animation: heart 0.35s ease-in;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 5;
    margin-left: 10px;
    width: 21px;
    height: 24px;
    line-height: 29px;
}

@keyframes heart{
    0%{
        transform: scaleY(0);
        transform-origin: bottom center;
        opacity: 0;
    }
    100%{
        transform: scaleY(1);
        transform-origin: bottom center;
        opacity: 1;
    }
}
@keyframes heart2{
    0%{
        transform: scaleY(0);
        transform-origin: left;
        opacity: 0;
    }
    100%{
        transform: scaleY(1);
        transform-origin: left;
        opacity: 1;
    }
}

#main #gallery .floating_bar {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: 379px;
    height: 89px;
    background-color: #DB8876;
}

#main #gallery .floating_bar #like_total {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 170px;
    height: 69px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
}
#main #gallery .floating_bar #like_total p, #main #gallery .floating_bar #like_total i {
    margin-left: 1rem;
}

#main #gallery .floating_bar #rate {
    width: 170px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}



/* Modal Style */
#contact_modal {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgb(229, 229, 229, 0.5);
    margin: auto;
}

#contact_modal .modal {
    z-index: 10;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 80%;
    padding: 0px 30px 75px 30px;
    margin: 3% 30%;
    filter: drop-shadow(-5px 10px 30px rgba(0, 0, 0, 0.25));
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

#contact_modal .modal header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4.75rem;
}
#contact_modal .modal header .message {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

#contact_modal .modal header .message img {
    cursor: pointer;
}

#contact_modal .modal header .message h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 83px;
    text-align: center;
}

#contact_modal .modal header .artist_name {
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    line-height: 83px;
}

#contact_modal .modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#contact_modal .modal form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
}

#contact_modal .modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

#contact_modal .modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#contact_modal .modal form textarea {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 5px;
}

/* Footer */

footer {
    min-height: 6rem;
}